pandas
gspread
google-auth
requests
PyJWT
openpyxl
pytz
tenacity
loguru
python-dotenv
orjson
matplotlib
seaborn
numpy
oauth2client
PyYAML
google-api-python-client
google-auth-httplib2
Flask
python-telegram-bot
numpy
openpyxl
reportlab
pyarrow
python-telegram-bot
python-pptx
gunicorn
